/***************************
Break points
*******************************/
$breakpoint-s: 480px;
$breakpoint-m: 768px;
$breakpoint-l: 1024px;

/***************************
Colours
*******************************/

$primary: #ccf381;
$secondary: #4831d4;
